<div class="add-blog-post">
    <h3>Create a new Post:</h3>
    <form class="new-post-form">
        <label for="post-title">
            Title:
        </label>
        <br />
        <input type="text" id="art_title" placeholder="username">
        </input>
        <br />
        <textarea name="post-text" id="post-text" cols="30" rows="10"></textarea>
        <br />
        <button type="submit" value="Submit">
            Submit
        </button>
    </form>

</div>