<div class="add-blog-post">
    <h3>Login</h3>
    <form class="form login-form">
        <div class="form-group">
            <label for="user-login">Username:</label>
            <br />
            <input class="form-input" type="text" id="user-login" placeholder="username" />
            <br />
            <label for="pw-login">Password:</label>
            <br />
            <input class="form-input" type="password" id="pw-login" placeholder="8 characters min"/>
            <br />
            <button type="submit" value="Submit">Login</button>
        </div>
    </form>

</div>
<div>
    <hr>
    <h5>OR</h5>
    <hr>
</div>
<div>
    <h3>Signup</h3>
    <form class="form signup-form">
        <div class="form-group">
            <label for="user-signup">Username:</label>
            <br />
            <input class="form-input" type="text" id="user-signup" placeholder="username" />
            <br />
            <label for="pw-signup">Password:</label>
            <br />
            <input class="form-input" type="password" id="pw-signup" placeholder="8 characters min" />
            <br />
            <button type="submit" value="Submit">Signup</button>
        </div>
    </form>
</div>
<script src='/js/login.js'></script>